/Firefly-Synchronization/.vs
/Firefly-Synchronization/Debug
/Firefly-Synchronization/Release
/Firefly-Synchronization/Firefly-Synchronization/x64
/Firefly-Synchronization/Firefly-Synchronization/Debug
/Firefly-Synchronization/Firefly-Synchronization/Release